<div class="cri-inner-container">
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isSuccess">
            <i class="fa-check"></i> {{displaySuccessMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isSuccess = false">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isFailure">
            <i class="fa-exclamation-triangle-icon"></i> {{displayFailureMessage}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isFailure = false">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
    </div>
    <model-library-tabs [selectedTab]="3" [status]="modelObj.status"></model-library-tabs>

    <div class="scenario-info">
        <div class="row">
            <div class="col-md-6 pr-0 ">
                <div class="cri-sin-li-input form-group pl-0  mb-0">
                    <label class="list-name col-md-12 mr-3 p-0">{{modelObj.modelName}}</label>
                    <p *ngIf="modelObj.id"> Last Modified On
                        <span>{{modelObj.lastModifiedDate | date:'dd MMM yyyy'}}</span> by
                        <span>{{modelObj.lastModifiedBy}}</span></p>
                </div>
            </div>

        </div>
    </div>
    <!--start dates-->
    <div class="form-row mb-2 mt-2">
        <div class="col">
            <label class="cri-label" for="inputState">START DATE</label>
            <div class="input-group mt-2" id="startDate">
                <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="modelObj.startDate"
                ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" #d1="ngbDatepicker" readonly="true" (click)="d1.toggle()">
                <div class="input-group-prepend">
                <div class="input-group-text" (click)="d1.toggle()">
                  <img src="../../../content/images/svg/clalender2.png" alt="semicons">
                </div>
                </div>
            </div>
        </div>
        <div class="col">
            <label class="cri-label" for="inputState">END DATE</label>
            <div class="input-group mt-2" id="endDate">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="modelObj.endDate"
                ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" #d2="ngbDatepicker"  readonly="true" (click)="d2.toggle()">
                <div class="input-group-prepend">
                <div class="input-group-text" (click)="d2.toggle()">
                        <img src="../../../content/images/svg/clalender2.png" alt="semicons">
        
                </div>
                </div>
            </div>
        </div>
        <div class="form-group col ">
            <label class="title mt-2" for="inputState">RETURN HORIZON</label>
            <div class="select-wrapper mt-1" id="returnHorizon">
                <ng-select [items]="frequencyList"
                bindLabel="label"
                bindValue="value"
                appendTo="body"
                placeholder="Select"
                [clearable]="false"
                [(ngModel)]="modelObj.returnHorizon">
              </ng-select>
            </div>
        </div>
        <div class="form-group col">
            <label class="title mt-2" for="inputState">OVERLAPPING <span class="text-danger">*</span></label>
            <div class="select-wrapper mt-1" id="overlapping">
            <ng-select [items]="overlappingList"
                bindLabel="label"
                bindValue="value"
                appendTo="body"
                placeholder="Select"
                [clearable]="false"
                [(ngModel)]="modelObj.overlapping">
            </ng-select>
            </div>
        </div>
       
        <div class="form-group col-md-5 toltip-icon2 text-right">
            <button type="button" id="rebuildModel" *ngIf="designerCanAccess" class="btn btn-outline-primary sm-icons mr-2" (click)="saveModelConfigData('');">
         <img src="../../../content/images/svg/rebuild.png" alt="semicons"> RE-BUILD MODEL</button>
            <button type="button" id="methodologysettings" *ngIf="designerCanAccess" class="btn btn btn-outline-primary sm-icons mr-2 btn-seting" (click)="openMetdlgyConfgMdl();" placement="top" ngbTooltip="Methodology Config ">
                    <img src="../../../content/images/svg/methodologysettings.png" alt="semicons">       
      </button>
        <button type="button" id="actionButtonId" class="btn btn-outline-primary sm-icons mr-2" (click)="openDesignerModel();" *ngIf="actionButton!=null && userCanAccess">{{actionButton}}</button>
        <button type="button" id="reviewStatusId" class="btn btn-outline-primary sm-icons mr-2" (click)="openDesignerModel();" *ngIf="(!userCanAccess  && actionButton!=null) || (!designerCanAccess && actionButton==null)">View Review Status</button>
        <button type="button" id="sendForReviewId"class="btn btn-outline-primary sm-icons mr-2" (click)="openDesignerModel();" *ngIf="designerCanAccess"> SEND FOR REVIEW</button>
        </div>
    </div>
    <!-- end dates-->
    <div class="col-md-12 p-0">
        <div class="dotted-divider mt-1 mb-3"></div>
    </div>
    <!--view RS-->

    <div class="col-md-12 mb-5 mt-5" *ngIf="!selectedRiskfactorList || selectedRiskfactorList.length == 0">
        <div class="selectview row">
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="tilte" for="exampleFormControlSelect1">SELECT A RISK FACTOR TO VIEW</label>
                    <div class="select-wrapper" id="riskFactorSelection">
                        <ng-select [items]="dependentRiskFactorList"
                            bindLabel="label"
                            bindValue="value"
                            appendTo="body"
                            placeholder="Select risk factor"
                            [clearable]="false"
                            [(ngModel)]="selectRiskfactor">
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mt-4" id="viewRiskFactor">
                <button (click)="getRFModelLibraryData();" type="button" class="btn btn-primary btn-prim">VIEW</button>
            </div>
        </div>
    </div>
    <!--view RS end-->
    <!--top table header Start-->
    <ng-container *ngIf="selectedRiskfactorList && selectedRiskfactorList.length > 0">
        <div class="tab-container">
            <ul class="nav-tabs">
                <ng-container *ngFor="let selected of selectedRiskfactorList; let i=index;">
                    <li class="nav-item" title="{{selected.label}}" [ngClass]="{'active' : selected.value == selectedFactor.value}">
                        <a (click)="getDataOnTabClick(selected);" id="selectedTabData">
                            <span>{{selected.label}}</span>
                            <i *ngIf="designerCanAccess" class="times-icon ml-3" aria-hidden="true" (click)="removeRiskfactor(selected.value, i)"></i>
                        </a>
                    </li>
                </ng-container>
                <span class="text-primary ml-3 plus-circle-icon" id="addRiskfactorId" (click)="addRiskfactor(addriskfac)">ADD RISK FACTOR</span>
            </ul>
        </div>
        <!--top table header end-->
        <!--table 2nd start-->
        <!--table start-->
        <div class="table-views">
            <div class="table-start table-responsive">
                <table class="table table-bordered tables-view mb-2 model_output table-resizable model-review-table" [ngClass]="{'model-reviewread':readMore || j<3}" id="riskFactorDataTable">
                    <thead class="tables-head">
                        <tr *ngIf = "null != reviewHeaderList">
                            <th class="  back-blue reviewModelAssessment">{{reviewHeaderList[getIndex(reviewHeaderList,'MODEL_ASSESSMENT')]['value']}}</th>
                            <th *ngIf="getIndex(reviewHeaderList,'CRITERIA') != -1" class="reviewCriteria" [attr.rowspan]="reviewHeaderList[getIndex(reviewHeaderList,'CRITERIA')]['rowSpan']" [attr.colspan]="reviewHeaderList[getIndex(reviewHeaderList,'CRITERIA')]['columnSpan']">
                                {{reviewHeaderList[getIndex(reviewHeaderList,'CRITERIA')]['value']}}
                            </th>
                            <th *ngIf="getIndex(reviewHeaderList,'TESTS') != -1" class="reviewTest" [attr.rowspan]="reviewHeaderList[getIndex(reviewHeaderList,'TESTS')]['rowSpan']">{{reviewHeaderList[getIndex(reviewHeaderList,'TESTS')]['value']}}
                            </th>
                            <ng-container *ngFor="let cell of reviewHeaderList[getIndex(reviewHeaderList,'METHODS_DATA')]['value']; let j=index;">
                                <th *ngIf="readMore || j<3" class="downloadExcelOutput" style="min-width: 180px !important;">
                                    <span>{{cell}} 
                                    </span>
                                    <span class="fr blueclr fa-file-icon" title="Download Full Output" (click) = "downloadExcel(j)">  </span>
                                </th>
                            </ng-container>
                            <th *ngIf="!readMore && reviewHeaderList[getIndex(reviewHeaderList,'METHODS_DATA')]['value'].length > 3" class=" back-blue readMoreId" (click) = "readMore = true">Read More</th>
                        </tr>
                    </thead>
                    <tbody class="tables-boby">
                        <ng-container *ngFor="let list of riskFactorModelDataList; let i=index; let last=last;">
                            <tr *ngIf="!last && i !=0 ">
                                <td [ngClass]="(validateFirstCell(list, 'MODEL_ASSESSMENT')) ? 'firstCellbg' : ''" *ngIf="getIndex(list,'MODEL_ASSESSMENT') != -1" class="  back-blue reviewModelAssessment" [attr.rowspan]="list[getIndex(list,'MODEL_ASSESSMENT')]['rowSpan']" [attr.colspan]="list[getIndex(list,'MODEL_ASSESSMENT')]['columnSpan']">
                                    {{list[getIndex(list,'MODEL_ASSESSMENT')]['value']}}</td>
                                <td *ngIf="getIndex(list,'CRITERIA') != -1" class="reviewCriteria" [attr.rowspan]="list[getIndex(list,'CRITERIA')]['rowSpan']" [attr.colspan]="list[getIndex(list,'CRITERIA')]['columnSpan']">
                                    {{list[getIndex(list,'CRITERIA')]['value']}}
                                    <div *ngIf="i == riskFactorModelDataList.length - 2 ">
                                            <button [disabled]="isddChanged ? null : true" *ngIf="designerCanAccess" type="button" class="btn btn-outline cri-btn-outline" (click)="saveModelReviewRFData('');">
                                                    <img src="../../../content/images/svg/save.png" alt="semicons">SAVE</button>
                                        </div>
                                </td>
                                <td *ngIf="getIndex(list,'TESTS') != -1" class="reviewTest" [attr.rowspan]="list[getIndex(list,'TESTS')]['rowSpan']">{{list[getIndex(list,'TESTS')]['value']}}
                                        <div *ngIf="i == riskFactorModelDataList.length - 2 ">
                                                <button [disabled]="isddChanged ? null : true" *ngIf="designerCanAccess" type="button" class="btn btn-outline cri-btn-outline" (click)="saveModelReviewRFData('');">
                                                        <img src="../../../content/images/svg/save.png" alt="semicons">SAVE</button>
                                            </div>
                                </td>
                                <ng-container *ngFor="let cell of list[getIndex(list,'METHODS_DATA')]['value']; let j=index;">
                                    <td *ngIf="readMore || j<3" class="downloadExcelOutput" style="min-width: 160px !important;">
                                        <div class="select-wrapper-table-2" id="champion_{{i}}_{{j}}" *ngIf="i == riskFactorModelDataList.length - 2 ">
                                            <ng-select [items]="TypeList"
                                                bindLabel="label"
                                                bindValue="value"
                                                appendTo="body"
                                                placeholder="Select "
                                                [disabled]="(designerCanAccess ? null:'true')"
                                                [clearable]="false"
                                                (change)="changeddType()"
                                                [(ngModel)]="riskFactorModelList[j]['label']">
                                            </ng-select>
                                        </div>
                                        <span  [ngClass]="{'textred': (validateCellText(cell)) , 'workbreak' : (i==1)}" *ngIf="i <= riskFactorModelDataList.length - 3 ">{{cell}}
                         <span *ngIf="[3,5,6,7,8,9,10].indexOf(i) != -1" class="blueclr">
                                  <a (click)="getGraphOrTable(i,j,'Graph', list)" class="area-chart-icon"></a>
                                 <span *ngIf="i == 3">
                                     <a (click)="getGraphOrTable(2,j,'Table', list)" class="fa-table-icon"></a>
                                </span>
                            </span>
                                        </span>
                                    </td>
                                </ng-container>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <!--responsive-table end-->
        </div>
    </ng-container>
    <!--row end-->
    <!--table end-->
    <div class="dotted-divider mt-4"></div>

    <!--footer buttons end-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="next-pre mb-3 mt-4 ">
                            <button type="button" id="disacard" class="btn btn-outline cri-btn-outline" (click)="cancel();">
                                    <img src="../../../content/images/svg/delete.png" alt="semicons" class="discard-img">DISCARD</button>
                            <button type="button" id="saveExit" *ngIf="designerCanAccess" class="btn btn-outline cri-btn-outline" (click)="updateModel()">
                                    <img src="../../../content/images/svg/save.png" alt="semicons">SAVE & EXIT</button>
                        </div>
                    </div>
                    <div class="form-group col-md-6 ">
                        <div class="next-pre mb-3 mt-4 text-right">
                            <button type="button" id="previous" class="cri-btn btn btn-outline-danger mr-3" (click)="navigateTo('model/modelConfig');"><img src="../../../content/images/svg/previous.png" alt="semicons">&nbsp;&nbsp;PREVIOUS</button>
                            <!-- <button type="button" class="cri-btn btn btn-outline-secondary btn-danger">NEXT &nbsp;&nbsp;&nbsp; <i
                  aria-hidden="true" class="fa fa-long-arrow-right"></i> </button> -->
                        </div>
                    </div>
                </div>
                <!--first row-end-->
            </div>
        </div>
    </div>
    <!-- footer buttons end-->
</div>
<!--cri-inner-container end-->

<!-- madal popup start-->
<ng-template #addriskfac let-modal class="modal fade modal-popup-md">
    <div class="cri-modal-h modal-header">
        <h4 class="cri-modal-titles modal-titles ml-4">Add Risk Factor To View<br>
            <label class="title-name"> To Compare desired Risk Factor</label></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="cri-modal-body modal-body mt-2">
        <div class="card-main col-lg-12 p-0">
            <!--view RS-->
            <div class="col-md-12 ">
                <div class="selectviews row">
                    <div class="col-lg-8">
                        <div class="form-group">
                            <!-- <label  class="tilte" for="exampleFormControlSelect1">SELECT A RISK FACTOR TO VIEW</label> -->
                            <div class="select-wrapper" id="riskfactorToSelect">
                                <ng-select
                                    bindLabel="label"
                                    bindValue="value"
                                    appendTo="body"
                                    placeholder="Select risk factor"
                                    [clearable]="false"
                                    [(ngModel)]="selectRiskfactor">
                                    <ng-container *ngFor="let factor of dependentRiskFactorList">
                                        <ng-option *ngIf="conditionCheck(factor.value)" [value]="factor.value">{{factor.label}}</ng-option>
                                    </ng-container>
                                </ng-select>
                                <!-- <select class="form-control" [(ngModel)]="selectRiskfactor">
                  <option value="null">Select risk factor</option>
                  <ng-container *ngFor="let factor of dependentRiskFactorList">
                    <option *ngIf="conditionCheck(factor.value)" [value]="factor.value">{{factor.label}}</option>
                  </ng-container>
                </select> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button (click)="getRFModelLibraryData();" type="button" id="addRiskfactorToView" class="btn btn-primary btn-prim btn-prime-2 mt-0">ADD TO
              VIEW</button>
                    </div>
                </div>
            </div>
            <!--view RS end-->
        </div>
        <!--card main end-->
    </div>
    <!--modal body-->
</ng-template>

<ng-template #metdlgyConfgMdl let-modal>
    <div class="cri-modal-h modal-header">
        <h4 class="cri-modal-titles modal-titles ml-4">Methodology Configuration<br>
            <label class="title-name"> Select Methodology To Include In The Model</label></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isFailure">
                    <i class="fa-exclamation-triangle-icon"></i> {{displayFailureMessage}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isFailure = false">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class=" table-responsive">
        <table *ngIf="columns && columns.length != 0 " class="table table-striped table-bordered">
            <thead class="tables-head-2">
                <tr>
                    <th class="" *ngFor="let header of headerList;let i=index;" [hidden]="header == 'Id'">
                        {{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="records.length == 0" class="no_data_found">
                    <td [colSpan]="headerList.length + 1">No Data Found</td>
                </tr>
                <tr *ngFor="let record of records;let i=index;">
                    <td class="text-center">
                        <span class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [(ngModel)]="record.SELECTED" 
                                [checked]="record.SELECTED" name="selected" id="methodologyCheck_{{i}}">
                            <label class="custom-control-label" for="methodologyCheck_{{i}}"></label>
                        </span>
                    </td>
                    <td class="col-form-label form-control-sm">{{record.NAME}}</td>
                    <td><input  [ngClass]="(record.NO_OF_VAR == '' || record.NO_OF_VAR == null) ? 'bdred' : ''" class="form-control form-control-sm" type="number" [(ngModel)]="record.NO_OF_VAR" /></td>
                    <td><input  [ngClass]="(record.LEVEL_OF_SIG == '' || record.LEVEL_OF_SIG == null) ? 'bdred' : ''" class="form-control form-control-sm" type="text" [(ngModel)]="record.LEVEL_OF_SIG" /></td>
                    <td><input  [ngClass]="(record.BACKTESTING_ANALYSIS == '' || record.BACKTESTING_ANALYSIS == null) ? 'bdred' : ''" class="form-control form-control-sm" type="text" [(ngModel)]="record.BACKTESTING_ANALYSIS" /></td>
                    <td><input  [ngClass]="(record.STABILITY_ANALYSIS == '' || record.STABILITY_ANALYSIS == null) ? 'bdred' : ''"class="form-control form-control-sm" type="text" [(ngModel)]="record.STABILITY_ANALYSIS" /></td>
                    <td><input  [ngClass]="(record.BOOTSTRAP == '' || record.BOOTSTRAP == null) ? 'bdred' : ''" class="form-control form-control-sm" type="number" [(ngModel)]="record.BOOTSTRAP " /></td>
                    <td class="p-2">
                        <div class=" select-wrapper-table-3">
                            <ng-select [items]="modelConfigEleList"
                                bindLabel="label"
                                bindValue="value"
                                appendTo="body"
                                [clearable]="false"
                                [ngClass]="{'bdred' : record.DROP_VARIABLE == '' || record.DROP_VARIABLE == null}"
                                [(ngModel)]="record.DROP_VARIABLE">
                            </ng-select>
                        </div>
                        </td>
                        <td class="p-2">
                        <div class="select-wrapper-table-3">
                            <ng-select [items]="modelConfigEleList"
                                bindLabel="label"
                                bindValue="value"
                                appendTo="body"
                                [clearable]="false"
                                [ngClass]="{'bdred' : record.FULL_SUITE == '' || record.FULL_SUITE == null}"
                                [(ngModel)]="record.FULL_SUITE">
                            </ng-select>
                        </div>
                    </td>
                    <td class="p-2">
                        <div class="select-wrapper">
                            <ng-select [items]="modelConfigEleList"
                                bindLabel="label"
                                bindValue="value"
                                appendTo="body"
                                [clearable]="false"
                                [ngClass]="{'bdred' : record.INTERCEPT == '' || record.INTERCEPT == null}"
                                [(ngModel)]="record.INTERCEPT">
                            </ng-select>
                        </div>
                    </td>
                    <td><input class="form-control form-control-sm" type="number" [(ngModel)]="record.MAX_ORDER " /></td>
                    <td><input class="form-control form-control-sm" type="number" [(ngModel)]="record.MAX_PC " /></td>
                    <td><input class="form-control form-control-sm" type="number" [(ngModel)]="record.MAX_LAG " /></td>
                    <td><input class="form-control form-control-sm" type="text" [(ngModel)]="record.CUT_OFF " /></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div *ngIf="userCanAccess" class="modal-footer modal-cri-foot mb-3">
        <button type="button" id="methodologyDiscard" class=" btn btn-outline-danger" (click)="closeMetdlgyConfgMdl();">
                <img src="../../../content/images/svg/delete.png" alt="semicons" class="discard-img"> DISCARD</button>
        <button type="button" id="methodologySave"class="btn btn-danger cri-btn mr-2" (click)="openPopUp();">
                <img src="../../../content/images/svg/save.png" alt="semicons" >SAVE</button>
    </div>
</ng-template>

<ng-template #graphModel let-modal>
    <div class="cri-modal-h modal-header">
        <h4 class="cri-modal-titles modal-titles ml-4">{{modelGraphName}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <br>
    <div *ngIf = "graphType == 'PERFORMANCE_STABILITY_TRAINING' ||  graphType == 'PERFORMANCE_STABILITY_TESTING'">
       <h4 style= "text-align:center; font-family:Georgia, serif;">{{titleForPS}}</h4> 
    </div>
    <div class="modal-body graph-type">
        <table *ngIf="graphType == graphTypeAssumptionTable" class="table table-striped table-bordered" id="graphDataTable">
            <thead>
                <tr>
                    <th class="graphHeader" *ngFor="let header of graphData[0];let i=index;">
                        {{header}}</th>
                </tr>
            </thead> 
            <tbody>
                <tr *ngIf="graphData.length == 0" class="no_data_found">
                    <td [colSpan]="graphData.length">No Data Found</td>
                </tr>
                <ng-container *ngFor="let record of graphData;let i=index;">
                    <tr *ngIf="i > 1">
                        <td class="graphHeader" *ngFor="let cell of record">{{roundedToTwoDecimals(cell)}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div [hidden]="graphType == graphTypeAssumptionTable" id="graphParent" class="col-md-12 row"></div>
    </div>
</ng-template>

<ng-template #designerworkflowmodal let-modal class="modal fade">
    <div class="cri-modal-h modal-header">
        <h4 class="cri-modal-titles modal-titles ml-4">
          <span>Review:</span></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isFailure">
                <i class="fa-exclamation-triangle-icon fa-2x"></i> {{displayFailureMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isFailure = false">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="row">
            <div  class="form-group col-md-8">
                <div class="row">
                    <div class="form-group col-md-6" *ngFor="let authority of roleModelsList; let i=index;">
                        <label class="cri-label" for="review_select_control_{{i}}">{{nameSplitJoin(authority.name)}} <span class="text-danger" *ngIf = "i==0||i==2">*</span></label>
                        <div class="select-wrapper">
                        <ng-select [items]="authority.ROLES"  id="review_select_control_{{i}}"
                            bindLabel = "fullName"
                            bindValue = "username"
                            (click)="validateWorkflowUsers($event, i)" 
                            [disabled]="(designerCanAccess ? null:'true')"
                            class="designer"
                            name="{{authority.name}}" 
                            [(ngModel)]="authority.selected" >
                        </ng-select>
                        </div>
                    </div> 
                </div> 
            </div>
            <div class="form-group  col-md-4">
                        <label class="cri-label" for="exampleFormControlTextarea1">COMMENTS <span class="text-danger">*</span></label>
                        <textarea [(ngModel)]="comment"  id="comment" class="form-control textarea-sc2"  rows="7" maxlength="2000" placeholder="Enter yours comments here" style="resize: none;" required></textarea>
            </div> 
        </div>
        <div  class="text-right mt-2 mb-2" [hidden]="!designerCanAccess">
            <button class="btn btn-danger btn-sm" id="only_sendforreview" (click)="save();"> SEND FOR REVIEW <i class="fa-check-ci-icon" aria-hidden="true"></i></button>
        </div>
        <div class="col-md-12 text-right" [hidden]="!(actionButton=='Send For Review' && userCanAccess)">
            <div class="text-right mt-2 mb-2">
                <button class="cri-btn btn btn-outline-danger" id="op_reject" (click)="reject();"> REJECT <i class="fa-times-cir-icon" aria-hidden="true"></i></button>
                <button class="cri-btn btn btn-outline-secondary btn-danger" id="op_sendforreview"(click)="sendForApprove();"> SEND FOR REVIEW <i class="fa-check-ci-icon" aria-hidden="true"></i></i></button>
            </div>
        </div>
        <div [hidden]="!(actionButton=='Send For Approval' && userCanAccess)">
            <div class="text-right mt-2 mb-2">
                <button class="cri-btn btn btn-outline-danger" id="op_reviewReject" (click)="reject();"> REJECT <i class="fa-times-cir-icon" aria-hidden="true"></i></button>
                <button class="cri-btn btn btn-outline-secondary btn-danger" id="op_sendforApprove" (click)="sendForApprove();"> SEND FOR APPROVAL <i class="fa-check-ci-icon" aria-hidden="true"></i></button>
            </div>
        </div>
        <div  [hidden]="!(actionButton=='Approve' && userCanAccess)">
            <div class="text-right mt-2 mb-2">
                <button class="cri-btn btn btn-outline-danger " id="op_approveReject" (click)="reject();"> REJECT <i class="fa-times-cir-icon" aria-hidden="true"></i></button>
                <button class="cri-btn btn btn-outline-secondary btn-danger" id="op_approve"(click)="sendForApprove();"> APPROVE <i class="fa-check-ci-icon" aria-hidden="true"></i></button>
            </div>
        </div>
        <div class="dotted-divider"></div>
        <h6> Activity Report </h6>
        <div class="table-responsive">
        <table class="table table-bordered tables-view mb-2" id="output_activity_report">
          <thead class="thead-light">
            <tr>
              <th>Role</th>
              <th>Name</th>
              <th>Status</th>
             <!--  <th>Action</th> -->
              <th class="comments-th">Comments</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of commentsList">
              <td>{{comment.userName.toUpperCase()}}</td>
              <td>{{comment.userId}}</td>
              <td>{{comment.status}}</td>
             <!--  <td>{{comment.userRole}}</td> -->
              <td class = "td-word-break"> {{comment.comments}}</td>
              <td>{{comment.lastModifiedDate | date:'yyyy-MM-dd'}}</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
</ng-template>
<ng-template #reBuildModel let-modal>
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Confirm</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()" #closeDeleteModalBtn>
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
        <div class="modal-body">
            <p>Updating changes leads to Rebuild Model. Would you like to continue?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success btn-sm" id="op_updateModel"  (click)="saveModelConfigData('model')">Yes</button>
            <button class="btn btn-light btn-sm" id="no_updatesModel" (click)="modal.dismiss()">No</button>
        </div>
</ng-template>
