.dropdown-menu-year-picker {
    width: 100%;
    padding: 0 0.2rem 0.5rem 0.2rem;
    left: 0px !important;
}
.card-body {
    padding: 0.5rem 0;
    text-align: center;
    cursor: pointer;
    font-size: 0.875rem !important;
    font-weight: 100;
}
.dropdown-toggle::after {
    display: none;
}
.select {
    background-color: #6c757d;
    color: #fff !important;
}
.outrange {
    color: gray;
}
.outrange:hover {
    background-color: #bedeff;
}
.ngb-dp-navigation-arrow {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
}
.right {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 0.15em;
    margin-right: 0.25em;
}
.left {
    margin-left: 0.25em;
    margin-right: 0.15em;
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
}
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

.year-disp {
    display: flex;
    border-bottom: 1px solid #e9ecef;
}
