<div class="cri-inner-container">
    <div class="row mb-1">
      <div class="col-md-6">
          <h1 class="cri-main-heading">
             <img  src="../../../content/images/svg/ModelLibrary-heading.png" alt="Sem-icons">
              Approved Models List </h1>    
        
      </div><!--hearder-title end-->
    </div>
    <div class="col-md-12">
            <div class="form-row form-start">
                <div class="col-md-12">
                  <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="isSuccess==true">
                    <i class="fa-check"></i> {{displaySuccessMessage}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isSuccess=false">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                </div>
                <div class="col-md-12"> 
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isFailure==true">
                    <i class="fa-exclamation-triangle-icon"></i> {{displayFailureMessage}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="isFailure=false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
    </div>
    <!--table start-->
    <div class="row ">
   
      <div class="table-start table-responsive col-md-12">
        <table class="table table-bordered tables-view mb-2 ">
          <thead class="tables-head">
            <tr>
              <!-- <th scope="col">FOLDER NAME</th>
              <th scope="col">BASE PATH</th> -->
              <th scope="col">MODEL NAME</th>
              <th scope="col">STATUS</th>
              <th scope="col" class="tdb-r"></th>
            </tr>
          </thead>
          <tbody class="tables-boby">
            <tr *ngIf="!records || records.length == 0" class="no_data_found" >
                <td [colSpan]="6">No Data Found</td>
            </tr>
            <ng-container *ngFor="let record of recordsSub; let i=index;">
              <tr [ngClass]="{'colspan-cri':record['COLLAPSED']}">
                <!-- <td>{{record['FOLDER_NAME']}}</td>
                <td>{{record['BASE_PATH']}}</td> -->
                <td>{{record['MODEL_NAME']}}</td>
                <td>APPROVED</td>
                <td class="tdb-r">
                  <span class="del-edit ">
                      <i (click)="openModelExecution(record);" id="modelflow_edit_{{i}}">
                          <img  src="../../../content/images/svg/edit.png" alt="Sem-icons">
                      </i>
                     <!--  <i *ngIf="record['ISDELETE'] !=null" id="scenario_delete_{{i}}" (click)="openDeleteDataModal(record);">
                          <img  src="../../../content/images/svg/delete.png" alt="Sem-icons">
                        </i> -->
                   </span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="fotter-btn ">
          <div class="col-md-12 row ">
            <div class="col-md-12">
              <nav class="c-pagination">
                  <ul class="c-pagination__list pl-3" *ngIf="pager.pages && pager.pages.length">
                    <li class="c-pagination__prev" [ngClass]="{disabled:pager.currentPage === 1}">
                      <a (click)="setPage(pager.currentPage - 1)"><i aria-hidden="true" class="fa-long-arrow-left-icon"></i></a>
                    </li>
                    <li *ngFor="let page of pager.pages" class="c-pagination__item">
                      <a (click)="setPage(page)" [ngClass]="{active:pager.currentPage === page}">{{page}}</a>
                    </li>
                    <li class="c-pagination__next" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                      <a (click)="setPage(pager.currentPage + 1)"><i aria-hidden="true" class="fa-long-arrow-right-icon"></i></a>
                    </li>
                    <li class="c-pagination__next">
                      <a><small class="dis-page">Displaying {{pager.startIndex + 1}} to {{pager.endIndex + 1}} Of {{pager.totalItems}} R Models</small></a>
                    </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div><!--responsive-table end-->
    </div><!--row end-->
    <!--table end-->
  </div><!--step container-->
